@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url("colors.css");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--bodyBG);
    background-image: url("https://source.unsplash.com/1920x1080/?vilnius");
    font-size: 120%;
}

.card {
    background-color: var(--cardBG);
    color: var(--cardText);
    padding: 2em;
    border-radius: 30px;
    width: 100%;  /*  */
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    border: none;
    outline: none;
    background-color: var(--searchBG);
    color: var(--cardText);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: var(--searchHover);
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background-color: var(--searchBG);
    color: var(--cardText);
    font-size: 105%;
    width: calc(100% - 100px);
}

.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;

}

.description {
    margin-left: 8px;
    text-transform: capitalize;
}