*,
*::before,
*::after {
    box-sizing:border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #0B2E4B;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none ;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    border: solid 1px turquoise;
}

.flex-container {
    display: flex;
    border: solid 1px red;
}

.flex-container > * {
    border: solid 1px yellow;
}

/* HEADER */

.site-header .flex-container {
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.25rem;
    line-height: 190%;
    letter-spacing: 0%;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 5px;
    padding: 10px 17px;
}

.main-nav a:hover,
.main-nav a:active {
    background-color: #06223a;
    border-radius: 5px;
}

.site-header .button {
    background-color: #00C9E0;
    /* padding: 31px 91px; */
    border-radius: 48px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    font-size: 1rem;
    width: 167px;
    height: 62px;
    cursor: pointer;
}

/* HERO */

.hero {
    text-align: center;
}

.hero .container h1 {
    font-size: 7.5rem;
    font-weight: bold;
    letter-spacing: -2%;
    line-height: auto;
    margin-bottom: 20px;
}

.hero .container h2 {
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 10%;
    line-height: auto;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.hero .container p {
    font-size: 1.0625rem;
    letter-spacing: 0%;
    max-width: 650px;
    margin: 0 auto 300px;
    border: solid 1px black;
}

.social-header .flex-container {
    justify-content: space-between;
}

.social-header {
    margin-bottom: 200px;
}

.social-header li {
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-header i {
    font-size: 1.5rem;
}

/* JOURNEY */

section#journey.journey {
    border: 1px solid green;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.journey .container {
    padding: 0;
}

.journey .container .section-heading h2 {
    text-align: center;
    border: solid 1px magenta;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 110%;
    letter-spacing: -2%;
}

.journey-menu.flex-container {
    justify-content: space-around;
}

.journey-menu .journey-menu-item a {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 110%;
    letter-spacing: -2%;
    text-decoration: none;
    color: white;
}

.journey-menu-item:active {
    color: #41EAD4;
}

.journey-image img {
    margin-top: 150px;
    max-width: 500px;
}

.journey-description h2 {
    margin-top: 217px;
    margin-left: 124px;
    font-size: 4.0625rem;
    line-height: 110%;
    letter-spacing: -2%;
}

.journey-description p {
    font-size: 1.0625rem;
    margin-left: 126px;
}

.journey-description .button {
    background-color: #00C9E0;
    /* padding: 31px 91px; */
    border-radius: 48px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    font-size: 0.875rem;
    line-height: 190%;
    letter-spacing: 15%;
    width: 282px;
    height: 65px;
    cursor: pointer;
    margin-left: 126px;
    margin-top: 45px;
}

.social i {
    font-size: 1.5rem;
}
/* -------------------------------------------------------------------------- */
.journey-description {
    align-self: flex-start;
    padding: 50px 0;
}

.social .flex-container {
    gap: 10px;
}

i {
    color: #41EAD4;
}

#stars .social,
#forest .social,
#dunes .social,
#river .social {
    align-self: flex-end;
    padding: 0 30px 0px;
}

.gallery.flex-container {
    flex-wrap: wrap;
}

.about-us .flex-container {
    justify-content: flex-end;
}

.about-us-info {
    flex-shrink: 2;
}

.testimonials-header .flex-container {
    flex-direction: column;
    align-items: center;
}

.testimonials-item {
    width: calc(33.3333% - 17px);
}

.testimonials .testimonials-gallery .container.flex-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

form.flex-container {
    justify-content: space-between;
}

.see-you-soon .container.flex-container {
    flex-direction: column;
    align-items: center;
}

.footer-items .container.flex-container {
    justify-content: space-between;
}

.social-footer ul li ul {
    justify-content: space-around;
}

.footer-copyright .copyright.flex-container {
    flex-direction: column;
    align-items: center;
}