body {
    color: white;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px auto 50px;
    grid-gap: 10px;
}

div > * {
    border-radius: 5px;
    padding: 5px;
}

header, footer {
    background-color: grey;
    grid-column: 1/-1;
}

.sidebar-1, main {
    background-color: rgb(48, 48, 48);
    min-height: 100px; /* Dėstytojo variantas */
}

.sidebar-2 {
    color: black;
    background-color: lightgray;
    min-height: 100px; /* Dėstytojo variantas */
}

.sidebar-1 {
    grid-column: 1/span 1;
}

main {
    grid-column: 2/span 2;
}

.sidebar-2 {
    grid-column: 4/-1;
}

.footer {
    grid-column: 1/-1;
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-rows: 50px auto auto 50px;
    }
    /* .sidebar-1 {                   /* Nereikalingas
        grid-column: 1/span 1;
    } */

    main {
        grid-column: 2/-1;
    }

    .sidebar-2 {
        grid-column: 1/-1;
    }
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-rows: 50px auto auto auto 50px;
    }

    .sidebar-1 {
        grid-column: 1/-1;
    }

    main {
        grid-column: 1/-1;
    }
    
    .sidebar-2 {
        grid-column: 1/-1;
    }
}